<h1>Welcome!</h1>

<form action="POST">

    <div class="form-group">
        <select id="age" name="Age">
            <option value="upTo30">Under 30</option>
            <option value="upTo45">Under 45</option>
            <option value="upTo60">Under 60</option>
            <option value="over60">60 And Over</option>
        </select>
    </div>

    <div class="form-group">
        <input type="text" name="weight" id="weight" placeholder="Weight">
    </div>

    <div class="form-group">
        <input type="text" name="height" id="height" placeholder="Height">
    </div>

    <div class="form-group">
        <input type="text" name="systolic-bp" id="systeolic-bp" placeholder="Systolic Blood Pressure">
    </div>

    <div class="form-group">
        <input type="text" name="diastolic-bp" id="diastolic-bp" placeholder="Diastolic Blood Pressure">
    </div>
    
    <div class="form-group">
        <input type="text" name="family-disease" id="family-disease" placeholder="Family Disease">
    </div>


    <button type="submit" class="btn btn-primary">Calculate</button>
    
</form>