.container {
    background-color: #86b2cf;
    color: #ffffff;
    padding-top: 5%;
    padding-bottom: 5%;
}

.hidden {
    display: none;
}

.card {
    color: #101010  !important;
    text-align: center;
    box-shadow: 1px 1px 1px #101010;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    padding: 1%;
}

a {
    text-decoration: none;
    color: #ffffff !important;
}


